.link {
        opacity: 0.6;

        transition: color var(--animation-duration-2xl)
                        cubic-bezier(
                                var(--animation-fn-standard-1),
                                var(--animation-fn-standard-2),
                                var(--animation-fn-standard-3),
                                var(--animation-fn-standard-4)
                        ),
                background-color var(--animation-duration-2xl)
                        cubic-bezier(
                                var(--animation-fn-standard-1),
                                var(--animation-fn-standard-2),
                                var(--animation-fn-standard-3),
                                var(--animation-fn-standard-4)
                        ),
                opacity var(--animation-duration-m)
                        cubic-bezier(
                                var(--animation-fn-sharp-1),
                                var(--animation-fn-sharp-2),
                                var(--animation-fn-sharp-3),
                                var(--animation-fn-sharp-4)
                        );

        cursor: pointer;

        text-decoration: none;
        font-weight: 600;
        color: var(--color-on-background);
}

.link_color_primary {
        color: var(--color-primary);
}

.link_color_secondary {
        color: var(--color-secondary);
}

.link:hover {
        opacity: 0.9;
}

.link_underline:hover {
        text-decoration: underline;
}
