.header {
        --header-height: var(--layout-header-height);
        --header-brand-size: var(--msp-1);
        --header-action-size: calc(var(--msp-1) * 1);
        --header-navigation-size: calc(var(--msp-1) * 1);

        z-index: 1;

        transform: translateZ(0);

        transition: transform var(--animation-duration-xl)
                        cubic-bezier(
                                var(--animation-fn-standard-1),
                                var(--animation-fn-standard-2),
                                var(--animation-fn-standard-3),
                                var(--animation-fn-standard-4)
                        ),
                opacity var(--animation-duration-xl)
                        cubic-bezier(
                                var(--animation-fn-standard-1),
                                var(--animation-fn-standard-2),
                                var(--animation-fn-standard-3),
                                var(--animation-fn-standard-4)
                        ),
                color var(--animation-duration-2xl)
                        cubic-bezier(
                                var(--animation-fn-standard-1),
                                var(--animation-fn-standard-2),
                                var(--animation-fn-standard-3),
                                var(--animation-fn-standard-4)
                        ),
                background-color var(--animation-duration-2xl)
                        cubic-bezier(
                                var(--animation-fn-standard-1),
                                var(--animation-fn-standard-2),
                                var(--animation-fn-standard-3),
                                var(--animation-fn-standard-4)
                        );

        opacity: 1;

        overflow: hidden;

        height: var(--header-height);
        width: 100%;

        background-color: var(--color-background);
        color: var(--color-on-background);
}

.header_fixed {
        position: fixed;
}

.header_hidden {
        transform: translateY(calc(var(--layout-header-height) * -1));

        opacity: 0;
}

.header__container {
        display: flex;
        flex-direction: row;
        align-items: center;

        height: 100%;
}

.header__icon {
        height: var(--header-action-size);
        width: var(--header-action-size);

        fill: var(--color-on-background);
}

.header__action {
        transform: translateZ(0);

        transition: opacity var(--animation-duration-s)
                cubic-bezier(
                        var(--animation-fn-sharp-1),
                        var(--animation-fn-sharp-2),
                        var(--animation-fn-sharp-3),
                        var(--animation-fn-sharp-4)
                );
        opacity: 0.87;

        height: var(--header-action-size);

        line-height: var(--msp-1);

        cursor: pointer;
}

.header__action:active {
        opacity: 1;
}

.header__action:focus {
        opacity: 1;
}

.header__action:hover {
        opacity: 1;
}

.header__action_primary {
        margin-right: var(--gap);
}

.header__action_secondary {
        flex: 1 0 0;
}

.header__brand {
        height: var(--header-brand-size);
        margin-right: var(--gap);
}

.header__navigation {
        display: none;
        flex: 1 0 0;

        height: var(--header-navigation-size);

        line-height: var(--msp-1);
}

.header__navigation-item {
        float: left;

        margin-right: var(--gap);
}

@media screen and (min-width: 990px) {
        .header__action_primary {
                display: none;
        }

        .header__navigation {
                display: inline-block;
        }

        .header__action_secondary {
                flex: 0 0 0;
        }
}
