.layout {
        --layout-min-width: 320px;
        --layout-min-height: auto;
        --layout-header-height: calc(var(--msp-1) * 3);
        --layout-footer-height: auto;

        display: grid;

        min-width: var(--layout-min-width);
}

.layout_type_holy-grail {
        --layout-min-height: 100vh;

        grid-template-areas:
                "header header header"
                "aside-left main aside-right"
                "footer footer footer";
        grid-template-rows:
                var(--layout-header-height)
                1fr
                var(--layout-footer-height);

        min-height: var(--layout-min-height);
}

.layout_type_holy-grail-asleft {
        --layout-min-height: 100vh;

        grid-template-areas:
                "header header header"
                "aside-left main main"
                "footer footer footer";
        grid-template-rows:
                var(--layout-header-height)
                1fr
                var(--layout-footer-height);

        min-height: var(--layout-min-height);
}

.layout_type_holy-grail-asright {
        --layout-min-height: 100vh;

        grid-template-areas:
                "header header header"
                "main main aside-right"
                "footer footer footer";
        grid-template-rows:
                var(--layout-header-height)
                1fr
                var(--layout-footer-height);

        min-height: var(--layout-min-height);
}

.layout_type_holy-grail-main {
        --layout-min-height: 100vh;

        grid-template-areas:
                "header header header"
                "main main main"
                "footer footer footer";
        grid-template-rows:
                var(--layout-header-height)
                1fr
                var(--layout-footer-height);

        min-height: var(--layout-min-height);
}

.layout__aside-left {
        grid-area: aside-left;
}

.layout__aside-right {
        grid-area: aside-right;
}

.layout__header {
        grid-area: header;
}

.layout__main {
        grid-area: main;
}

.layout__footer {
        grid-area: footer;
}

.layout__container {
        max-width: calc(100% - var(--gap) * 2);
        margin: 0 auto;
}

.layout__container-fluid {
        max-width: calc(100% - var(--gap) * 2);
        margin: 0 auto;
}

@media screen and (min-width: 480px) {
        .layout__container {
                max-width: calc(var(--screen-s) - var(--gap) * 2);
        }
}

@media screen and (min-width: 766px) {
        .layout__container {
                max-width: calc(var(--screen-m) - var(--gap) * 2);
        }
}

@media screen and (min-width: 990px) {
        .layout__container {
                max-width: calc(var(--screen-l) - var(--gap) * 2);
        }
}

@media screen and (min-width: 1194px) {
        .layout__container {
                max-width: calc(var(--screen-xl) - var(--gap) * 2);
        }
}
