.tabs {
        display: flex;
        flex: 1 0 auto;
        flex-wrap: wrap;

        width: 100%;
}

.tab {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 0;

        opacity: 0.6;
        transform: translateZ(0);
        transition: opacity var(--animation-duration-m)
                cubic-bezier(
                        var(--animation-fn-sharp-1),
                        var(--animation-fn-sharp-2),
                        var(--animation-fn-sharp-3),
                        var(--animation-fn-sharp-4)
                );

        padding: calc(var(--msp-1) / 2) var(--msp-1);

        cursor: pointer;

        color: var(--color-on-background);

        line-height: var(--msp-1);

        user-select: none;
}

.tab:before {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        opacity: 0;
        transform: translateZ(0);
        transition: opacity var(--animation-duration-m)
                cubic-bezier(
                        var(--animation-fn-sharp-1),
                        var(--animation-fn-sharp-2),
                        var(--animation-fn-sharp-3),
                        var(--animation-fn-sharp-4)
                );

        height: var(--msp-m5);
        width: 100%;

        background-color: var(--color-on-primary);
}

.tab:hover {
        opacity: 0.9;

        color: var(--color-on-primary);
}

.tab:hover:after {
        opacity: 0.04;
}

.tab:after {
        content: "";

        position: absolute;
        left: 0;
        top: 0;

        opacity: 0;

        height: 100%;
        width: 100%;

        background-color: var(--color-primary);
}

.tab_active:before {
        opacity: 0.9;
}
