.tabs {
        --tab-height: calc(var(--msp-1) * 2);

        display: flex;
        flex: 1 0 auto;
        flex-wrap: wrap;

        width: 100%;
}

.tabs__tab {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 0;

        opacity: 0.87;
        transform: translateZ(0);

        transition: opacity var(--animation-duration-m)
                cubic-bezier(
                        var(--animation-fn-standard-1),
                        var(--animation-fn-standard-2),
                        var(--animation-fn-standard-3),
                        var(--animation-fn-standard-4)
                );

        height: var(--tab-height);
        padding: 0 var(--gap);

        cursor: pointer;

        text-align: center;
        white-space: nowrap;
        color: var(--color-on-background);

        line-height: var(--msp-1);

        user-select: none;
}

.tabs__tab:after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        opacity: 0;
        transform: translateZ(0);

        transition: opacity var(--animation-duration-m)
                cubic-bezier(
                        var(--animation-fn-standard-1),
                        var(--animation-fn-standard-2),
                        var(--animation-fn-standard-3),
                        var(--animation-fn-standard-4)
                );

        height: var(--msp-m5);
        width: 100%;

        background-color: var(--color-secondary);
}

.tabs__tab:before {
        content: "";

        position: absolute;
        left: 0;
        top: 0;

        opacity: 0;
        transform: translateZ(0);

        transition: opacity var(--animation-duration-m)
                cubic-bezier(
                        var(--animation-fn-standard-1),
                        var(--animation-fn-standard-2),
                        var(--animation-fn-standard-3),
                        var(--animation-fn-standard-4)
                );

        height: 100%;
        width: 100%;

        background-color: var(--color-primary);
}

.tabs__tab:hover:before {
        opacity: 0.04;
}

.tabs__tab_active:after {
        opacity: 0.87;
}

.tabs__tab_active:before {
        opacity: 0.12;
}

.tabs__tab_active:hover:before {
        opacity: 0.12;
}

.tabs__tab_active:hover:after {
        opacity: 0.87;
}

.tabs__tab:active:not(.tabs__tab_active):not(.tabs__tab_disabled):before {
        opacity: 0.1;
}

.tabs__tab_disabled {
        opacity: 0.38;

        cursor: not-allowed;
}

.tabs__tab_disabled:hover {
        opacity: 0.38;
}

.tabs__tab_disabled:hover:before {
        opacity: 0;
}
