.list {
        --list-item-height: calc(var(--msp-1) * 2);

        display: flex;
        flex-direction: column;

        width: 100%;
}

.list__item {
        display: flex;
        align-items: center;
        justify-content: start;

        opacity: 0.87;
        transform: translateZ(0);

        transition: opacity var(--animation-duration-m)
                cubic-bezier(
                        var(--animation-fn-standard-1),
                        var(--animation-fn-standard-2),
                        var(--animation-fn-standard-3),
                        var(--animation-fn-standard-4)
                );

        height: var(--list-item-height);

        padding: 0 var(--msp-0);

        cursor: pointer;

        color: var(--color-on-background);

        user-select: none;
}

.list__item:before {
        content: "";

        position: absolute;
        left: 0;
        top: 0;

        opacity: 0;
        transform: translateZ(0);

        transition: opacity var(--animation-duration-m)
                cubic-bezier(
                        var(--animation-fn-standard-1),
                        var(--animation-fn-standard-2),
                        var(--animation-fn-standard-3),
                        var(--animation-fn-standard-4)
                );

        height: 100%;
        width: 100%;

        background-color: var(--color-primary);
}

.list__item:after {
        content: "";

        position: absolute;
        left: 0;
        top: 0;

        opacity: 0;
        transform: translateZ(0);

        transition: opacity var(--animation-duration-m)
                cubic-bezier(
                        var(--animation-fn-standard-1),
                        var(--animation-fn-standard-2),
                        var(--animation-fn-standard-3),
                        var(--animation-fn-standard-4)
                );

        height: 100%;
        width: var(--msp-m5);

        background-color: var(--color-secondary);
}

.list__item:hover:before {
        opacity: 0.04;
}

.list__item_active:before {
        opacity: 0.12;
}

.list__item_active:after {
        opacity: 0.87;
}

.list__item_active:hover {
        opacity: 0.87;
}

.list__item_active:hover:before {
        opacity: 0.12;
}

.list__item:active:not(.list__item_active):not(.list__item_disabled):before {
        opacity: 0.1;
}

.list__item_disabled {
        opacity: 0.38;

        cursor: not-allowed;
}

.list__item_disabled:hover {
        opacity: 0.38;
}

.list__item_disabled:hover:before {
        opacity: 0;
}
